.Resources {
    p {
        font-size: .85rem;
        text-decoration: underline;
    }

    ul {
        
        font-size: .75rem;
        line-height: 1.5rem;
        
        li {
            margin-left:.7rem;
        }
    }
}